header.settingsHeader {
  height: 20%;
  width: 100%;
  border-radius: 1.7rem 1.7rem 0 0;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px #1f21401a;
}

button.closeButton {
  border: none;
  cursor: pointer;
  background-color: transparent;
}