div.pomoClock {
  width: 25%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161932;
  font-size: 1em;
}

div.pomoClock::before {
  position: absolute;
  z-index: -1;
  content: '';
  width: 28%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: linear-gradient(135deg, #0E112A, #2E325A);
}

div.pomoClock::after {
  content: '';
  width: 22%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
}

p.pomoTime {
  color: #d7e0ff;
  font-size: 5.8rem;
  font-weight: 700;
  margin: 0;
  z-index: 2;
}

button.pauseButton {
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #d7e0ff;
  margin: 13% 0 0 0.7%;
  z-index: 3;
  font-size: 1.2rem;
  letter-spacing: 0.8rem;
  text-align: left;
  font-weight: 600;
  transition: ease-out 0.15s;
}

button.pauseButton:hover {
  font-size: 1.28rem;
}

@media screen and (max-width: 480px) {
  div.pomoClock {
    width: 75%;
    font-size: 0.9em;
  }

  div.pomoClock::before {
    width: 84%;
  }

  button.pauseButton {
    margin: 40% 0 0 0.7%;
  }

  p.pomoTime {
    font-size: 6em;
  }
}