@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
  font-family: 'Kumbh Sans';
}

div.pomoClock {
  width: 27vw;
  height: 27vw;
  border-radius: 50%;
  margin-bottom: 2rem;
  background-color: #161932;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.pomoTime {
  color: #d7e0ff;
  font-size: 4.5rem;
  margin: 0;
}

button.pauseButton {
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d7e0ff;
  margin: 5% 0 0 0.8rem;
  font-size: 0.85rem;
  letter-spacing: 0.8rem;
  text-align: left;
  font-weight: 600;
}