@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


button.configButton {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

div.configMenu {
  position: absolute;
  z-index: 3;
  height: 60%;
  width: 38%;
  border-radius: 1.7rem;
  background-color: #ffffff;
  font-family: 'Kumbh Sans';
}

div.none {
  display: none;
}

main.configMain {
  height: 80%;
  padding: 0 1.7rem;
}