section.pomoNav {
  height: 45px;
  width: 300px;
  padding: 5px;
  border-radius: 30px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  color: #979797;
  background-color: #161932;
}

div.pomoStages {
  height: 100%;
  width: 33%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.pomoStages.selected {
  border-radius: 30px;
  color: #161932;
}

div.pomoStages h5 {
  font-size: 0.8rem;
}