@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
  font-family: 'Kumbh Sans';
}

div.pomoClock {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: #161932;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.pomoTime {
  color: #d7e0ff;
  font-size: 5rem;
  margin: 0;
}

button.pauseButton {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

h3.stageTitle {
  color: #d7e0ff;
}