@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
  font-family: 'Kumbh Sans';
  text-decoration: none;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #1e213f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2.app-title {
  color: #d7e0ff;
}